:root {
  --bg: #16110c;
  --panel: #f3eee6;
  --ink: #15120f;
  --muted: #746f68;
  --light: #fffaf1;
  --line: rgba(255, 255, 255, 0.72);
  --accent: #bfa47b;
  --max: 1680px;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family:
    Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  color: var(--light);
  background-color: var(--_colors---base-100--100);

}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --_colors---base-100--100: #fff8ed;
  --_fonts---font-body: "GT America Extended", Arial, sans-serif;
  --_colors---base-1000--100: #312726;
  --_fonts---font-display: "GT America Expanded", Arial, sans-serif;
  --_fonts---h1--size: 7.222em;
  --_fonts---h1--line-height: 84.615%;
  --_fonts---h1--letter-spacing: -0.08em;
  --_fonts---h2--size: 5em;
  --_fonts---h2--line-height: 88.889%;
  --_fonts---h2--letter-spacing: -0.08em;
  --_fonts---h3--size: 3.333em;
  --_fonts---h3--line-height: 100%;
  --_fonts---h3--letter-spacing: -0.08em;
  --_fonts---h4--size: 2.222em;
  --_fonts---h4--line-height: 112.5%;
  --_fonts---h4--letter-spacing: -0.072em;
  --_fonts---h5--size: 1.667em;
  --_fonts---h5--line-height: 100%;
  --_fonts---h5--letter-spacing: -0.064em;
  --_fonts---h6--size: 1.111em;
  --_fonts---h6--line-height: 100%;
  --_fonts---h6--letter-spacing: -0.032em;
  --_fonts---p7--size: 0.833em;
  --_fonts---p7--line-height: 133.333%;
  --_fonts---p7--letter-spacing: -0.032em;
  --_margins---m-0: var(--0px);
  --_margins---m-96: var(--96px);
  --_margins---m-36: var(--36px);
  --_margins---m-12: var(--12px);
  --_margins---m-4: var(--4px);
  --_margins---m-6: var(--6px);
  --_margins---m-24: var(--24px);
  --_margins---m-60: var(--60px);
  --_margins---m-156: var(--156px);
  --_colors---base-0--100: white;
  --_colors---base-1000--30: #3127264d;
  --_colors---additional--success: #1ba64b;
  --_colors---additional--alert: #ffa800;
  --_colors---additional--error: #e23d3d;
  --_fonts---l1--size: 0.694em;
  --_fonts---l1--line-height: 120%;
  --_fonts---l1--letter-spacing: -0.032em;
  --_fonts---p2--size: 4.444em;
  --_fonts---p2--line-height: 100%;
  --_fonts---p2--letter-spacing: -0.08em;
  --_fonts---t6--size: 1.111em;
  --_fonts---t6--line-height: 100%;
  --_fonts---t6--letter-spacing: -0.032em;
  --_fonts---t7--size: 0.833em;
  --_fonts---t7--line-height: 133.333%;
  --_fonts---t7--letter-spacing: -0.032em;
  --_colors---base-1000--10: #3127261a;
  --_colors---base-500--100: #7a716e;
  --_special-units---100vh: 100vh;
  --_negative-units---36px: calc(var(--36px) * -1);
  --_special-units---1-cell: var(--48px);
  --12px: 0.833em;
  --32px: 2.222em;
  --_margins---m-216: var(--216px);
  --_negative-units---96px: calc(var(--96px) * -1);
  --_special-units---480px: 33.333em;
  --_negative-units---28px: calc(var(--28px) * -1);
  --108px: 7.5em;
  --28px: 1.944em;
  --20px: 1.388em;
  --4px: 0.277em;
  --_special-units---768px: 53.333em;
  --_negative-units---12px: calc(var(--12px) * -1);
  --_colors---base-0--25: #ffffff40;
  --_colors---base-0--0: #0000;
  --_colors---base-0--15: #ffffff26;
  --_special-units---360px: 25em;
  --_negative-units---256px: calc(var(--256px) * -1);
  --_negative-units---0px: 0em;
  --8px: 0.555em;
  --24px: 1.666em;
  --_special-units---36px-vw: 2.5vw;
  --_special-units---20px-vw: 1.388vw;
  --_special-units---12px-vw: 0.833vw;
  --_special-units---60px-vw: 4.167vw;
  --_negative-units---6px: calc(var(--6px) * -1);
  --48px: 3.333em;
  --_negative-units---24px: calc(var(--24px) * -1);
  --40px: 2.777em;
  --36px: 2.5em;
  --64px: 4.444em;
  --21px: 1.458em;
  --_negative-units---4px: calc(var(--4px) * -1);
  --0px: 0em;
  --1px: 0.069em;
  --2px: 0.138em;
  --6px: 0.416em;
  --10px: 0.694em;
  --16px: 1.111em;
  --_special-units---100vw: 100em;
  --44px: 3.055em;
  --52px: 3.611em;
  --56px: 3.888em;
  --60px: 4.167em;
  --72px: 5em;
  --80px: 5.555em;
  --88px: 6.111em;
  --96px: 6.666em;
  --120px: 8.333em;
  --144px: 10em;
  --156px: 10.833em;
  --192px: 13.333em;
  --_colors---base-1000--20: #31272633;
  --216px: 15em;
  --256px: 17.777em;
  --_colors---base-0--40: #fff6;
  --_fonts---p5--size: 1.667em;
  --_fonts---p5--line-height: 100%;
  --_fonts---p5--letter-spacing: -0.064em;
  --_fonts---p6--size: 1.111em;
  --_fonts---p6--line-height: 100%;
  --_fonts---p6--letter-spacing: -0.032em;
  --_negative-units---1px: calc(var(--1px) * -1);
  --_negative-units---2px: calc(var(--2px) * -1);
  --_negative-units---8px: calc(var(--8px) * -1);
  --_negative-units---10px: calc(var(--10px) * -1);
  --_negative-units---16px: calc(var(--16px) * -1);
  --_negative-units---20px: calc(var(--20px) * -1);
  --_negative-units---32px: calc(var(--32px) * -1);
  --_negative-units---40px: calc(var(--40px) * -1);
  --_negative-units---44px: calc(var(--44px) * -1);
  --_negative-units---48px: calc(var(--48px) * -1);
  --_negative-units---52px: calc(var(--52px) * -1);
  --_negative-units---56px: calc(var(--56px) * -1);
  --_negative-units---60px: calc(var(--60px) * -1);
  --_negative-units---64px: calc(var(--64px) * -1);
  --_negative-units---72px: calc(var(--72px) * -1);
  --_negative-units---80px: calc(var(--80px) * -1);
  --_negative-units---88px: calc(var(--88px) * -1);
  --_negative-units---108px: calc(var(--108px) * -1);
  --_negative-units---120px: calc(var(--120px) * -1);
  --_negative-units---144px: calc(var(--144px) * -1);
  --_negative-units---156px: calc(var(--156px) * -1);
  --_negative-units---192px: calc(var(--192px) * -1);
  --_negative-units---216px: calc(var(--216px) * -1);
}
img{width:100%;height:100%;object-fit: cover;display:inline-block;vertical-align: middle;}

.img-w {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: clip;
}

.clip{  overflow: clip;}
.container {
  padding-right: var(--_margins---m-96);
  padding-left: var(--_margins---m-96);
}
.header {
  z-index: 99;
  position: fixed;
  inset: 0% 0% auto;
  margin-top: var(--_margins---m-36);
  display: flex;flex-flow: row nowrap;justify-content: space-between;align-items: center;
}
.logo{
    height: var(--20px);
  aspect-ratio: 75 / 8;
  transform:translate3d(0px, 44vh, 10px) scale(1.25, 1.25);
}


.intro_scroll-area {
  height: calc(var(--_special-units---100vh) * 5);
  display: flex;
  position: relative;
  flex-flow: column;
}

.sky-bg {
  left: var(--_negative-units---96px);
  top: 0%;
  right: var(--_negative-units---96px);
  z-index: 0;
  display: flex;
  position: absolute;
  bottom: 0%;
  flex-flow: column;
}

/* 飘动的云 */
.sky-bg_hero_clouds {
  z-index: 1;
  width: 100%;
  height: calc(var(--_special-units---100vh) * .88);
  display: flex;
  position: absolute;
  inset: 0% 0% auto;
}
.sky-bg_hero_clouds_list_item {
  aspect-ratio: 140 / 19;
  height: 100%;
}
.sky-bg_hero_clouds_list {
  height: 100%;
  display: flex;
  flex: 0 0 auto;

  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 48s linear infinite reverse;
}
@keyframes marquee {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0%);
  }
}
/* 背景色渐变过渡 */
.sky-bg_hero_grad-over {
  background: linear-gradient(180deg, rgba(1, 90, 169, 0.00) 0%, rgba(1, 90, 169, 0.01) 11.79%, rgba(1, 90, 169, 0.03) 21.38%, rgba(1, 90, 169, 0.07) 29.12%, rgba(1, 90, 169, 0.12) 35.34%, rgba(1, 90, 169, 0.18) 40.37%, rgba(1, 90, 169, 0.25) 44.56%, rgba(1, 90, 169, 0.33) 48.24%, rgba(1, 90, 169, 0.41) 51.76%, rgba(1, 90, 169, 0.50) 55.44%, rgba(1, 90, 169, 0.59) 59.63%, rgba(1, 90, 169, 0.67) 64.66%, rgba(1, 90, 169, 0.76) 70.88%, rgba(1, 90, 169, 0.85) 78.62%, rgba(1, 90, 169, 0.93) 88.21%, #015AA9 100%);

  z-index: 2;
  height: calc(var(--_special-units---100vh) * .75);
  position: absolute;
  inset: auto 0% 0%;

}
.sky-bg_about {
  height: calc(var(--_special-units---100vh) * 3);
  position: relative;
}
.sky-bg_about_grad-over {
  background: linear-gradient(180deg, #015AA9 0%, #8FC2D7 50%, #FFF8ED 100%);
    z-index: 0;
  position: absolute;
  inset: 100vh 0% 0%;
  
}


.hero-w{
    top: var(--_margins---m-0);
  position: relative;
}

.hero-s{
    z-index: 1;
  height: var(--_special-units---100vh);
  justify-content: space-between;
  display: flex;
  position: relative;
  flex-flow: column;
}

.hero_scroll-area {
  z-index: 1;
  height: calc(var(--_special-units---100vh) * 3);
  transform-style: preserve-3d;
  position: relative;
  transform: translateZ(100px);
}
.hero-w_bg_front {
  z-index: 2;
  position: absolute;
  transform: scale(1.2857);
  inset: 0%;
}
.hero-w_bg_front-over {
  z-index: 3;
  position: absolute;
  transform: scale(1.2857);
  inset: 0%;
}
.img-w {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: clip;
}

/* 窗户容器 */
.hero-w_bg {
  left: var(--_negative-units---96px);
  top: 0%;
  right: var(--_negative-units---96px);
  z-index: 0;
  position: absolute;
  bottom: 0%;
  transform: translate(0px);
}
.hero_overlay {
  z-index: 5;
  pointer-events: none;
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.4));
  position: absolute;
  inset: 0%;
}

/* 阴影 */
.hero-w_bg_front-over {
  z-index: 3;
  position: absolute;
  transform: scale(1.2857);
  inset: 0%;
}

/* 窗户边框 */
.hero-w_bg_back {
  z-index: 0;
  position: absolute;
  transform: scale(1.2857);
  inset: 0%;
}


.anchor_about {
  pointer-events: none;
  height: calc(var(--_special-units---100vh) * .75);
  position: absolute;
  inset: auto 0% 0%;
}